<md-dialog aria-label="Change Password" flex="30">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Change Password</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="projectForm">
            <md-input-container>
                <label>Current Password</label>
                <input md-maxlength="20" required="" name="cp" ng-model="project.currentPassword">
                <div ng-messages="projectForm.cp.$error" >
                    <div ng-message="required">You did not enter this field</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Enter New Password</label>
                <input md-maxlength="20" required="" name="np" ng-model="project.newPassword">
            </md-input-container>
            <md-input-container>
                <label>Re-enter New Password</label>
                <input md-maxlength="20" required="" name="rnp" ng-model="project.reEnteredNewPassword">
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('not useful')" >
            Cancel
        </md-button>
        <md-button ng-click="answer('useful')" style="margin-right:20px;" >
            Change
        </md-button>
    </div>
</md-dialog>
